* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.header {
    padding-bottom: 49px;
    user-select: none;
}

/*LOGO-style*/

.logo {
    display: flex;
    justify-content: flex-start;
    padding: 33px 100px 43px;
}

.style-logo {
    font-size: 80px;
}

.style-logo__nav {
    text-decoration: none;
    color: black;
}

.style-logo__letter {
    color: #4BCAFF;
}

/*NAVIGATION-style*/

.navigation {
    display: flex;
    justify-content: center;
    margin: 0 100px;
    background-color: #35444F;
    line-height: 70px;
    flex-shrink: 0;
}

.navigation-list {
    display: flex;
}

.navigation-list li {
    border-left: 1px solid white;
    position: relative;
    transition: .5s;
    flex-shrink: 0;
}

.navigation-list li:nth-child(2):hover {
    transition: .5s;
    background-color: #222F3A;
}

.navigation-list li:last-child {
    border-right: 1px solid white;
}

.navigation-list .navigation-list__items {
    margin: 0 35px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    position: relative;
    transition: .5s;
}

.navigation-list__items-2:hover {
    transition: .5s;
    color: #3181A6;
}

.navigation-list .navigation-list__items-2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -6px;
    background: #4BCAFF;
    border-radius: 5px;
    transform-origin: center;
    transform: scale(0);
    transition: transform .6s;
}

.navigation .navigation-list__items-2:hover::after {
    transform: scale(1);
}

/*MAIN-style*/

.main {
    margin: 0 100px;
    display: flex;
}

.main-container {
    user-select: none;
    margin-right: 50px;
}

.main-menu {
    border: 1px solid #000000;
    width: 300px;
    height: 252px;
}

.main-menu__items {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #495863;
    line-height: 50px;
    margin-left: 34px;
}

.main-menu__items-top {
    transition: .1s;
}

.main-menu__items-top:hover {
    text-align: center;
    transition: .1s;
    background-color: #DBDBDB;
    font-weight: bolder;
}

.image {
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;
    width: 100%;
}

.image-style {
    transition: .4s
}

.image-style:hover {
    transform: scale(1.1);
}

.section-page {
    line-height: 25px;
    font-size: 18px;
}

.subtitle-page1,
.subtitle-page2 {
    padding-top: 35px;
}

/*FOOTER-style*/

.footer {
    display: flex;
    justify-content: space-between;
    margin: 40px 100px 20px;
    padding: 0 40px;
    background: rgba(99, 105, 110, 0.48);
    line-height: 70px;
    user-select: none;
}

.footer-navigation {
    flex-shrink: 0;
}

.footer-navigation .footer-list {
    display: flex;
}

.footer-list li .footer-menu__items {
    margin-right: 75px;
    text-decoration: none;
    color: #0C1927;
    font-size: 17px;
    position: relative;
    transition: .5s;
}

li .footer-menu__items-2:hover {
    transition: .5s;
    color: #3181A6;
}

.footer-list li .footer-menu__items-2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -12px;
    background: #3181A6;
    border-radius: 5px;
    transform-origin: center;
    transform: scale(0);
    transition: transform .6s;
}

.footer-list li .footer-menu__items-2:hover::after {
    transform: scale(1);
}







